.card-img-wrap {
    overflow: hidden;
    position: relative;
  }
  .card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .card-img-wrap img {
    opacity: 1;
    transition: transform .25s, opacity .25s;
    width: 100%;
  }
  .card-img-wrap:hover img {
    opacity: 0.5;
    transform: scale(1.2);
  }